<% if @drinks %>
  <form action="/<%= @drinks.id %>" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
    <textarea name="edited_order"> <%=@drinks.d_order %></textarea>
    <input type="checkbox" name="complete" <%= "checked" if @drinks.complete %>>
    <input type="submit">
  </form>
  <p><a href="/<%= @drinks.id %>/delete">Delete</a></p>
<% else %>
  <p>Note not found.</p>
<% end %>